<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <style type="text/css">
    td {
      text-align: center;
    }
    td.correct {
      background: green;
    }
    td.submitted {
      background: orange;
    }
  </style>
</head>
<body>
<table id="score_table">
  <tr>
    <th>User</th>
    {% for t in display_tasks %}
      <th>{{ t.num }}</th>
    {% endfor %}
  </tr>
  {% for user in users %}
    <tr>
      <td width="100px">{{ user.name }}</td>
      {% for t in tasks %}
        <td class="{% if task_status[user.uva_id][t] == 1 %}correct{% else %}{% if task_status[user.uva_id][t] == -1 %}submitted{% else %}nosubmission{% endif %}{% endif %}">{{ task_status[user.uva_id][t] }}</td>
      {% endfor %}
    </tr>
  {% endfor %}
</table>
</body>
</html>
